@CHARSET "ISO-8859-1";

p { color: #ffffff;  }

/*-=-=-=-=-=-=-=-=-=-*/
/* Column Grids */
/*-=-=-=-=-=-=-=-=-= */

.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
	position: relative;
	display:inline;
	display: inline-block;
	float: left;
	margin-right: 2%;
	margin-bottom: 20px;
}
.end { margin-right: 0 !important; }

.jumbotron {
  position: relative;
  overflow: hidden;
  background-color:black;
}
.jumbotron video {
  position: absolute;
  z-index: 1;
  top: 0;
  width:100%;
  height:100%;
  /*  object-fit is not supported on IE  */
  object-fit: cover;
  opacity:0.5;
}
.jumbotron .container {
  z-index: 2;
  position: relative;
}


.navi
{
	 background-color:#8186b6;
	

	text-align: center;
	position: relative;
	

}




p { color: #ffffff;  }

/*-=-=-=-=-=-=-=-=-=-*/
/* Column Grids */
/*-=-=-=-=-=-=-=-=-= */

.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
	position: relative;
	display:inline;
	display: inline-block;
	float: left;
	margin-right: 2%;
	margin-bottom: 20px;
}
.end { margin-right: 0 !important; }


/*  back to top*/


#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #DDF;
    color: #000;
}


/* login */


@media screen and (max-width: 1300px) {
  body {
    background-size: auto;
  }
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo_bar {
  background: rgba(0, 0, 0, 0.5);
  width: 300px;
  color: white;
  margin-bottom: -30px;
  padding: 10px 0;
  text-align: center;
  border-radius: 10px;
}

#logo {
  max-width: 50px;
  max-height: 50px;
  vertical-align: middle;
}

#form_box {
  background: rgba(0, 0, 0, 0.5);
  width: 300px;
  text-align: center;
  border-radius: 10px;
}

#form_heading {
  color: #ff7b00;
  padding: 15px 0 0 10px;
  font-family: 'Raleway', 'arial';
  font-weight: 100;
  font-size: 1.5em;
}

#font_20 {
  font-size: 15px;
}

input {
  background: none;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 10px;
  margin: 10px;
  border: 1px solid #DDDDDD;
  color: white;
  font-family: 'Raleway', 'arial';
  font-weight: 100;
  font-size: 17px;
}

input:focus {
  box-shadow: 0 0 10px rgba(255, 123, 0, 1);
  padding: 10px;
  margin: 10px;
  border: 1px solid rgba(255, 123, 0, 1);
}

input[type=submit]:hover {
  cursor: pointer;
}



a {
  text-decoration: none;
  color: antiquewhite;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}



/* item Grid*/


*{
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


a{
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.wrapper{
	width:100%;
	margin:30px auto 0;
	background-color:#FFFFFF;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

header{
	text-align:right;
	padding:10px;
	margin-bottom:10px;
	background-color:#5DBA9D;
}

header a{
	font-size:20px;
	color:#FFFFFF;
	width:40px;
	height:40px;
	line-height:40px;
	margin-left:10px;
	text-align:center;
	display:inline-block;
}

header a:hover, .list-mode header a.hide-list:hover{
	background-color:#400040;
}

header a.hide-list{
	background-color:#008080;
}

.list-mode header a.hide-list{
	background-color:#ff0000;
}

.list-mode header a.show-list{
	background-color:#008080;
}

.container:after{
	content:"";
	clear:both;
	display:table;
}

.container{
	padding:10px 0 10px 10px;
}

.wrapper .box{
	float:left;
	width:250px;
	height:250px;
	margin:0 10px 10px 0;
	background-color:#c0c0c0;
	border-radius:10px;
	-webkit-transition:all 1.0s ease;
	-moz-transition:all 1.0s ease;
	transition:all 1.0s ease;
	transition:all 1.0s ease;
}

.wrapper.list-mode .container{
	padding-right:10px;
}

.wrapper.list-mode .box{
	width:100%;
}

.container .phad
{
	position: relative;  top: 2%; color: #004080; background-color:#ebebeb; border-radius:10px; text-align: center; opacity: 0.5;
}
.container .pbutton
{
	position: relative;  top: 65%;
}


/*Creative Boxes  */

body * {
  transition: all 0.5s;
}
.container1 {
  width: 960px;
  margin: 50px auto;
  padding: 5px;
  padding-left: 20px;
  psdding-right: 0;
}

.box1 {
  width: 24%;
  height: 250px;
  margin: 0.2%;
  padding: 15px;
  box-sizing: border-box;
  display: inline-block;
  background: #036C81;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  cursor: pointer;
}
.box1 .icon-cont {
  border: 6px solid rgba(255,255,255,0.3);
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin: 20px auto;
  display: block; 
  text-align: center;
  
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 5;
  
  box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);
}
.box1 .icon-cont i {
  color: #fff;
  opacity: 0.6;
  font-size: 2.5em;
  line-height: 75px;
}
.box:hover .icon-cont {
  animation: shady 4s linear infinite;
}

@keyframes shady {
  0% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
  20% {box-shadow: 0 0 0 100px rgba(255,255,255,0), 0 0 0 0px rgba(3, 108, 129, 0);}
  20.1% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
  50% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
  70% {box-shadow: 0 0 0 100px rgba(255,255,255,0), 0 0 0 0px rgba(3, 108, 129, 0);}
  70.1% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
  100% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
}

.box1 h3 {
  color: #fff;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 15px;
  border-bottom: 1px solid rgba(255,255,255,0);
  
  position: absolute;
  top: 125px;
  width: 70%;
  left: 10%;
  z-index: 4;
}
.box1 ul {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #fff;
  font-size: 13px;
  line-height: 28px;
  text-indent: 14px;
  margin: 25px;
  margin-top: 380px;
  list-style-type: disc;
}
.box1 ul.hidden {
  opacity: 0;
}
.box1 a.expand {
  width: 35px;
  height: 35px;
  background: #fff;
  font-weight: 600;
  color: #036C81;
  display: block;
  margin: 15px auto 25px;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
  
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  
}
.box1 a.expand span.minus {
  opacity: 0;
}
.box1 a.expand span.plus {
  opacity: 1;
  padding-left: 5px;
}
.box1.selected a.expand {
  display: block;
  position: absolute;
  left: 180px;
  right: -29px;
  bottom: -39px;
  width: 80px;
  height: 50px;
  background: #eee;
  color: #036C81;
  transform: rotate(-45deg);
}
.box1.selected a.expand span {
  display: block;
  position: absolute;
  top: -4px;
  left: 38px;
  transform: rotate(45deg);
  font-size: 24px;
}
.box1.selected a.expand span.minus {
  opacity: 1;
}
.box1.selected a.expand span.plus {
  opacity: 0;
}
.box1.selected .icon-cont {
  transform: scale(1.5,1.5);
  opacity: 0.3;
  position: absolute;
  top: -20px;
  left: -5px;
  right: 180px;
}
.box1.selected:hover .icon-cont {
  animation: none;
}
.box1.selected h3 {
  padding: 32px 15px 15px 15px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  
  width: 70%;
  top: 16px;
  left: 10%;
}
.box1.selected ul.hidden {
  opacity: 1;
  margin-top: 95px;
}


/*master control popup */
#fixed-form-container{
    position: relagive;
  
    width: 94%;
    text-align: center;
    margin: 0;

}

#fixed-form-container .button:before { 
   content: "+ ";
}

#fixed-form-container .expanded:before { 
    content: "- ";
}

#fixed-form-container .button { 
  font-size:1.1em; 
	cursor: pointer;
	margin-left: auto;
  margin-right: auto;
	border: 2px solid #e25454;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px 0px 0px;
	padding: 5px 20px 5px 20px;
	background-color: #e25454;
	color: #fff;
	display: inline-block;
	text-align: center;
	text-decoration: none;
  -webkit-box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.3);
}

#fixed-form-container .body{
    background-color: #fff; 
    border-radius: 5px;
    border: 2px solid #e25454;
    margin-bottom: 16px;
    padding: 10px; 
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.3);
}

@media only screen and (min-width:768px){
    #fixed-form-container .button{
       margin: 0;

    }
    #fixed-form-container {
        left: 20px;
        width: 390px;
        text-align: left;
    }

    #fixed-form-container .body{
        padding: 30px;
        border-radius: 0px 5px 5px 5px;
    }
}
/* master ci=ontrol popup end*/